*{
    font-family: 'calibri', 'arial', 'helvetica', 'sans.serif'; 

}

header{
    background-color: #dddddd;
    text-align: center;

}   


header h1{
    background-color: grey ;
    color: rgb(78, 49, 178);

}
main section{
    align-content: center;
    
}
main section h2{
    background-color: #BFBFBF;
    font-size: 18px;
    letter-spacing: 0.3em;

}

footer{
    background-color:#1F497D;
    color: white;
    font-size: 24px;
}
